<div class="flex flex-row items-start md:justify-center w-full h-full overflow-y-auto">
  <%# Side Nav %>
    <div class="flex flex-col w-1/5 min-w-[240px]">
      <%= render 'dashboard/dashboard_partials/side_navbar' %>
    </div>
  <%#  Posts Display %>
  <div class="flex flex-col h-80vh w-3/5 items-center">
    <%= render 'dashboard/dashboard_partials/publish_post'%>
  </div>
  <%# Friend display %>
  <div class="hidden lg:flex flex-col h-80vh w-1/5 space-y-8 space-x-8  mt-8">
    <%= render 'dashboard/dashboard_partials/friends_sidebar' %>
    <%= render 'dashboard/dashboard_partials/contacts_sidebar' %>
  </div>
</div>
<%= render 'application_partials/footer' %>
