<div class="flex flex-row justify-center h-max">
  <div class="flex flex-col text-center h-max"">
    <h2>Sign up</h2>
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
  
       <div class="flex flex-col justify-around text-start h-40vh">
         <div class="field">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true %>
             </div>
  
             <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
             </div>
  
             <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
             </div>
  
             <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
             </div>
  
             <div class="actions">
          <button type="button" class= " text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><%= f.submit "Sign up" %></button>
             </div>
       </div>
    <% end %>
  
    <%= render "devise/shared/links" %>
  </div>
</div>
