
<%= form_with(model: @comment, class: "contents") do |form| %>

  <div class="flex flex-row h-10 w-full items-end ">

    <%= link_to profile_path(current_user.profile) do %>
      <%= image_tag 'cat.jpeg', class: 'w-8 h-8 rounded-full mr-3' %>
    <% end %>

    
    <%= form.text_field :body, placeholder:"Write a public comment...", class: "flex flex-row w-full h-auto items-center pl-4 rounded-xl text-xs bg-gray-50 hover:bg-gray-100 border border-gray-300 hover:border-gray-400" %>
    <%= form.hidden_field :author_id, value: current_user.id %>
    <%= form.hidden_field :post_id, value:  @post_id %>

  </div>
</div>

<% end %>
