<div id="<%= "#{dom_id(post)} private_likes" %>", class="flex flex-col h-full text-sm" >
  <% like_text = like_status ? 'Unlike' : 'Like' %>
  <% like = Like.find_by(liked_on_id: post.id, user_id: current_user.id)  %>
  <div class="flex flex-row justify-between">
    <div class="inline-flex items-center">
      <%= image_tag 'like.png', class:"w-5 h-5" %>
      <span class="ml-3"><%= post.likes.count %></span>
    </div>
    <%= render 'shared/comment_count', post: post %>
  </div>
  <div class="flex flex-row justify-around mt-5 py-1 border border-gray-300 border-x-0 text-sm cursor-pointer">
    <div class="flex flex-row items-center justify-center w-1/2 rounded-lg hover:bg-gray-100 [&>*]:w-full [&>*]:flex [&>*]:h-full [&>*]:flex-row [&>*]:justify-center [&>*]:[&>*]:w-full">
      <%= button_to like_post_path(id: post.id), class:"flex flex-row h-full items-center justify-center" do %>
        <%= image_tag 'like-button.png', class:"w-5 h-5 mr-3" %>
        <span><%= like_text %></span>
      <% end %>
    </div>

    <div class="flex flex-row items-center justify-center w-1/2 h-8 rounded-lg hover:bg-gray-100 cursor-pointer">
      <%= link_to new_comment_path(post_id: post.id), data: { turbo_frame: "new_comment_#{post.id}" }, class:"flex flex-row justify-center items-center h-full w-full" do %>
        <%= image_tag 'comments.png', class:"w-5 h-5 mr-4" %>
        <span>Comment</span>
      <% end %>
    </div>
  </div>
</div>
