<div class="flex flex-col min-w-[600px] h-auto w-2/3 bg-white rounded-lg mt-4 p-4">
  <div class="flex flex-row h-14 w-full items-end mt-4">
    <%= link_to profile_path(current_user.profile) do %>
      <%= image_tag current_user.profile.avatar, class: 'w-16 h-14 rounded-full' %>
    <% end %>

    <%= link_to  new_post_path, class: "w-full ml-3", data: { action: "click->modal#open", turbo_stream: "" } do%>
      <div class= "flex flex-row w-full h-14 items-center pl-4 rounded-lg bg-gradient-to-r from-white via-amber-200 to-amber-500 hover:bg-gray-100 border border-gray-300 text-gray-600 font-light hover:border-gray-400">What's on your mind, <%= current_user.first_name%>?</div>
    <% end %>
  </div>

  <div class="flex flex-row h-12 mt-4 w-full border-t border-gray-200">
  
  </div>

</div>

  <div id="post-list" class="flex flex-col h-auto w-full items-center rounded">
      <% @posts.order(id: :desc).each do |post| %>
        <%= render "posts/post", owner: post.author , post: post %>
      <% end %>
  </div>

  

