<div class="flex flex-col lg:flex-row h-max justify-evenly items-center " >
  <div class="flex flex-col justify-around rounded-sm h-55vh w-30vw">
    <div class="flex flex-col h-15vh ">    
      <h1 class="font-bold text-4xl text-blue-600 mb-3">fakebook</h1>
      <div class="flex flex-col">
        <h1 class="font-normal text-2xl text-gray-700">Recent logins</h1>
        <p class="font-normal text-l text-gray-700">Click your picture or add an account.</p>
      </div>
    </div>
    <div class="flex flex-row justify-between h-30vh w-20vw">  

      <div class="flex flex-col h-30vh w-15vw mr-6 box-content rounded-lg hover:drop-shadow-xl">  
        <%= image_tag "cat.jpeg", class: "flex flex-row drop-shadow-xl rounded-t-2xl border-2 object-fill h-20vh w-15vw" %>
        <div class="flex flex-row font-medium text-gray-400 bg-white z-10 h-7vh w-10vw border-x-2 border-b-2 rounded-b-xl justify-center items-center">John Doe</div>
      </div>
      <button>
        <%= link_to new_registration_path(resource_name) do %>
          <div class="flex flex-col box-content h-30vh w-15vw hover:drop-shadow-xl">
            <div class="flex flex-row bg-sky-50 rounded-t-2xl border-2 justify-center items-center h-20vh w-15vw">
                <%= image_tag "plus.png", class: "h-12 w-12"%></div>
            <div class="flex flex-row bg-white font-medium text-blue-500 h-7vh w-10vw border-x-2 border-b-2 rounded-b-xl justify-center items-center">Add Account</div>
        <% end%>
      </button>
    </div>
  </div>
  <div class="flex flex-col content-evenly justify-center text-center h-45vh w-30vw border-2 drop-shadow-lg bg-white rounded-2xl ">
    <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
    <div class="flex flex-col space-y-4 content-center text-start">
        <div class="field flex flex-row justify-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email address", class: 'rounded-lg border-gray-300 w-full mx-4' %>
        </div>
        <div class="field flex flex-row justify-center">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "rounded-lg  w-full mx-4 border-gray-300" %>
        </div>
        <button type="button" class= "mx-4 text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center"><%= f.submit "Log in" %></button>
        <div class="flex flex-row text-sm justify-center text-center text-blue-500">
          <%= link_to "Forgotten password?", new_password_path(resource_name) %>
        </div>

      </div>
    <% end %>


    <div class="flex flex-row justify-center content-evenly mx-4 mt-6 border-t-2 ">
      <button type="button" class= "mx-4 mt-4 text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"><%= link_to "Create New Account", new_registration_path(resource_name) %></button>
    </div>
  </div>
</div>
