<div id="<%= dom_id post %>", class ="flex flex-col w-2/3 h-auto l-full rounded-lg bg-white mt-4 py-4 px-6" >
  <div class="flex flex-row h-16 w-full space-x-4">
    <%= link_to profile_path(current_user.profile) do %>
      <%= image_tag 'cat.jpeg', class: 'w-12 h-12 rounded-lg' %>
    <% end %>
    <div class="flex flex-col">
      <span class = ""><%= post.title %></span>
      <span class = "text-xs"><%= current_user.full_name %></span>
    </div>
  </div>
  <p class="my-5 text-sm text-justify">
    <%= post.body %>
  </p>
    <%= render 'shared/like_button', post: post, like_status: current_user.liked?(post) %>
</div>
